In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_csv_path = "../../Gitlab_Repo/Homeworks/04-Pandas/Instructions/PyCitySchools/Resources/schools_complete.csv"

student_data_csv_path = "../../Gitlab_Repo/Homeworks/04-Pandas/Instructions/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv_path)
student_data_df = pd.read_csv(student_data_csv_path)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
#Set index to Student ID
school_data_complete_df = school_data_complete_df.set_index("Student ID")
#school_data_complete_df.head()

In [3]:
# Calculate the total number of schools
total_schools = pd.unique(school_data_complete_df.loc[:, 'school_name'])
school_count = len(total_schools)
#school_count

In [4]:
# Calculate the total number of students
total_students = school_data_complete_df.iloc[:, 0]
student_count = len(total_students)
#student_count

In [5]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget = "${:,.2f}".format(total_budget)
#total_budget

In [6]:
# Calculate the average math score 
avg_math = school_data_complete_df["math_score"].mean()
avg_math = "{:,.2f}".format(avg_math)
#avg_math

In [7]:
avg_reading = school_data_complete_df["reading_score"].mean()
avg_reading = "{:,.2f}".format(avg_reading)
#avg_reading

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
good_stu_math = school_data_complete_df["math_score"] >= 70
good_stu_math_pct = sum(good_stu_math) / len(total_students)
good_stu_math_pct = '{:.2%}'.format(good_stu_math_pct)
#good_stu_math_pct

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
good_stu_read = school_data_complete_df["reading_score"] >= 70
good_stu_read_pct = sum(good_stu_read) / len(total_students)
good_stu_read_pct = '{:.2%}'.format(good_stu_read_pct)
#good_stu_read_pct

In [10]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
read_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, ["math_score"]]
read_df
read_math_df = read_df.loc[read_df["math_score"] >= 70,]
overall_good = len(read_math_df)
overall_good_pct = overall_good / student_count
overall_good_pct = '{:.2%}'.format(overall_good_pct)
#overall_good_pct

In [11]:
# school_count, student_count, total_budget, avg_math, avg_reading, good_stu_math_pct, good_stu_read_pct, overall_good_pct

# District Summary

In [12]:
district_info = [{'School Count': school_count, 'Student Count': student_count, 'Total Budget': total_budget,
                  'Average Math Score': avg_math, 'Average Reading Score': avg_reading, 'Percent Passing Math': good_stu_math_pct,
                 'Percent Passing Reading': good_stu_read_pct, 'Percent Passing Math and Reading': overall_good_pct}]
district_df = pd.DataFrame(district_info)
district_df

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

#####################################################################################################

In [13]:
schools_type_df = school_data_df.set_index(["school_name"])["type"]
schools_type_df

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
total_students_df = school_data_df.set_index(["school_name"])["size"]
total_students_df

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [15]:
school_budget_df = school_data_df.set_index(["school_name"])["budget"]
school_budget_df

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [16]:
#Merged students and budgets 
merged_budget_students = pd.merge(total_students_df, school_budget_df, on= 'school_name')
merged_budget_students

#Budget per student
per_student_budget_df = merged_budget_students["budget"] / merged_budget_students["size"]
per_student_budget_df

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [17]:
#Avg math score by school
math_school = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
math_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
#Avg reading score by school
read_school = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
read_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
passing_math_df = pd.DataFrame(school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70])
math_pass_df = passing_math_df[["school_name", "math_score"]]
math_pass_df
#Percentage passing math

                   school_name  math_score
Student ID
0            Huang High School          79
4            Huang High School          84
5            Huang High School          94
6            Huang High School          80
8            Huang High School          87
...                        ...         ...
39165       Thomas High School          90
39166       Thomas High School          70
39167       Thomas High School          84
39168       Thomas High School          90
39169       Thomas High School          75

[29370 rows x 2 columns]

In [20]:
passing_reading_df = pd.DataFrame(school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70])
read_pass_df = passing_reading_df[["school_name", "reading_score"]]
read_pass_df
#Percentage passing reading

                   school_name  reading_score
Student ID
1            Huang High School             94
2            Huang High School             90
4            Huang High School             97
5            Huang High School             94
6            Huang High School             82
...                        ...            ...
39165       Thomas High School             99
39166       Thomas High School             95
39167       Thomas High School             73
39168       Thomas High School             99
39169       Thomas High School             95

[33610 rows x 2 columns]

In [ ]:
pass_math_read_df = pd.merge(read_pass_df, math_pass_df, on=["school_name"]) 
pass_math_read_df

#Percentage passing both reading and math

# School Summary

In [22]:
#####################################################################################################

# Top Performing Schools (By % Overall Passing)

In [23]:
# Sort and display the top five performing schools by % overall passing.

#  Bottom Performing Schools (By % Overall Passing)

In [ ]:
Sort and display the five worst-performing schools by % overall passing.

# Math Scores by Grade

In [ ]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

In [ ]:
passing_math_df = pd.DataFrame(school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70])
passing_math_df

# Reading Score by Grade

In [ ]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting

# Scores by School Spending

In [ ]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

# Scores by School Size

In [ ]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

# Scores by School Type

In [ ]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)