In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_csv_path = "Resources/schools_complete.csv"
student_data_csv_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_csv_path)
student_data_df = pd.read_csv(student_data_csv_path)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [ ]:
#Set index to student_name
school_data_complete = school_data_complete.set_index("Student ID")
school_data_complete.head()

In [5]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [9]:
type(school_data_complete_df.groupby("school_name").mean())

pandas.core.frame.DataFrame

In [ ]:
total_schools = pd.unique(school_data_complete.loc[:, 'school_name'])
len(total_schools)

In [ ]:
total_students = pd.unique(school_data_complete.iloc[:, 0])
len(total_students)

In [25]:
#budget = sum(pd.unique(school_data_complete["budget"]))
#budget
print(school_data_df.sum()["budget"])
school_data_df["budget"].sum()

24649428

24649428

In [ ]:
avg_math = school_data_complete["math_score"].mean()
avg_math

In [ ]:
avg_reading = school_data_complete["reading_score"].mean()
avg_reading

In [14]:
s = "hello"
len(s)
print(type(s))
s.upper()
dir(s)

<class 'str'>

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# District Summary

# Calculate the total number of schools
### total_schools = pd.unique(school_data_complete.loc[:, 'school_name'])
### len(total_schools)

# Calculate the total number of students
### total_students = pd.unique(school_data_complete.iloc[:, 0])
### len(total_students)

# Calculate the total budget
### budget = sum(pd.unique(school_data_complete["budget"]))
### budget

# Calculate the average math score 
### avg_math = school_data_complete["math_score"].mean()
### avg_math

# Calculate the average reading score
### avg_reading = school_data_complete["reading_score"].mean()
### avg_reading

# Calculate the percentage of students with a passing math score (70 or greater)

# Calculate the percentage of students with a passing reading score (70 or greater)

# Calculate the percentage of students who passed math **and** reading (% Overall Passing)

# Create a dataframe to hold the above results

# Optional: give the displayed data cleaner formatting